* {
	box-sizing: border-box;
}
html, body
{
    min-height: 100%;
    background-color: cadetblue;
    margin: 0;
    padding: 0;
    font-size:calc(8px + .8vmin);
    font-family: 'Roboto', sans-serif;
    /*overflow: hidden;*/
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

#import_css{visibility: hidden;}

.flex-container {
    min-height: 100vh;
    display: flex;
    align-items: center; /* vertical aligment */
    justify-content: center;
    flex-direction: column;  /* make main axis vertical */
}

.flex-item {
    background-color: MintCream;
    padding: 8vh;
    width: 94vw;
    min-height: calc(100px + 20vh);
    height: 99.6vh;
    margin: 0.2vh;
    color: DarkSlateGray;
    text-align: center;
}
.item-title
{
  font-weight: bold;
  font-size: xx-large;
  line-height: calc(18vh + 1em);
}
.item-descr
{
/*   font-size: xx-small; */
  color: silver;
}

#footer.settings-panel
{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  padding: 0 1ex;
}

/* Links inside the navbar */
#footer.settings-panel a {
  color: white;
  text-decoration: none;
  padding: 0 1ex;
}

/* Change background on mouse-over */
#footer.settings-panel a:hover {
  background: #ddd;
  color: black;
}

#footer.settings-panel fieldset
{
  line-height: 2em;
}

#footer.settings-panel fieldset input,
#footer.settings-panel fieldset label
{
  margin: 1ex;
  color: white;
}

.divider {
  margin: 1ex 0 ;
  border-left: 2px solid white;
  height: 100%;
  width: 1px;
}
