* {
	box-sizing: border-box;
}
html, body
{
    min-height: 100%;
    background-color: cadetblue;
	margin: 0;
    padding: 0;
    font-size:calc(12px + 1vmin);
    font-family: 'Open Sans';
}

/* Hide scrollbar */
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

#import_css{visibility: visibility;}

.flex-container {
    min-height: 100vh;
    display: flex;
    align-items: center; /* vertical aligment */
    justify-content: center;
    flex-direction: column;  /* make main axis vertical */
}

.flex-item {
    background-color: MintCream;
    padding: 8vh;
    width: 80vw;
    min-height: calc(100px + 20vh);
    height: 99vh;
    margin: .4vh;
    color: DarkSlateGray;
    text-align: center;
}
.item-title
{
  font-weight: bold;
  font-size: xx-large;
  line-height: calc(18vh + 1em);
}
.item-descr
{
/*   font-size: xx-small; */
  color: silver;
}
